.main-container {
    margin-top: 80px;
    max-width: 95%;
}

.card {
    text-align: center;
    margin: auto;
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.cardMedia {
    height: 10em;
}

