.main-container--details {
    margin: 5rem 0;
    height: auto;
}
.card--details {
    margin: auto;
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.cardMedia--details {
    align-self: center;
    max-width: 20em;
}

